<?php

/**
 * The base model from which all %%MODULE_NAME%% module models inherit.
 * 
 * PHP versions 5.2
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT ME <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   GIT: $Id$
 * @link      http://xamin.ir
 */


/**
 * Base model for module
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT ME <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   Release: @package_version@
 * @link      http://xamin.ir
 */
class %%PROJECT_PREFIX%%%%MODULE_NAME%%BaseModel extends %%PROJECT_PREFIX%%BaseModel
{

}
 
