{{#t.comment_osm_message}}
<div class="{{t.comment_osm_class}}">{{{t.comment_osm_message}}}</div>
{{/t.comment_osm_message}}

{{{t.form}}}

<ul>
{{#t.comments}}
<li>{{user}} say :<br /> {{comment}}</li>
{{/t.comments}}
</ul>