<?php
/**
 * Model description
 * 
 * PHP version 5.2
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   GIT: $Id$
 * @link      http://xamin.ir
 */

/**
 * Model class description
 * 
 * @category  Xamin
 * @package   Market
  * @author   EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   Release: @package_version@
 * @link      http://xamin.ir
 */
class %%MODEL_CLASS%% extends %%PROJECT_PREFIX%%BaseModel
{%%ATTRIBUTE_LIST%%%%ATTRIBUTE_ACCESSORS%%}

