{{#with t}}
  <div id="message"> {{!Place holder for message, leave it be in any case}}
  {{#if error}}
    <ul>
      {{#each errors}}
        <li>{{.}}</li>
      {{/each}}
    </ul>
  {{/if}}
  </div>   
{{{form}}}
{{/with}}
