  <div id="message"> {{!Place holder for message, leave it be in any case}}
    {{#if t.error}}
    <ul>
      {{#each t.errors}}
      <li>{{.}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </div>   
{{{t.form}}}
