<?php

/**
 * The base view from which all %%MODULE_NAME%% module views inherit.
 * 
 * PHP versions 5.2
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT ME <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   GIT: $Id$
 * @link      http://xamin.ir
 */


/**
 * base model for this module
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT ME <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   Release: @package_version@
 * @link      http://xamin.ir
 */
class %%PROJECT_PREFIX%%%%MODULE_NAME%%BaseView extends %%PROJECT_PREFIX%%BaseView
{

}
