<?php
/**
 * The base model from which all project models inherit.
 * 
 * PHP versions 5.2
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   GIT: $Id$
 * @link      http://xamin.ir
 */

/**
 * Base model class
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   Release: @package_version@
 * @link      http://xamin.ir
 */
class %%PROJECT_PREFIX%%BaseModel extends AgaviModel
{

}
