<?php
/**
 * The base action from which all project actions inherit.
 * 
 * PHP versions 5.2
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   GIT: $Id$
 * @link      http://xamin.ir
 */

/**
 * Base Action class
 * 
 * @category  Xamin
 * @package   Market
 * @author    EDIT THIS <@>
 * @copyright Authors
 * @license   Custom <http://xamin.ir>
 * @version   Release: @package_version@
 * @link      http://xamin.ir
 */
class %%PROJECT_PREFIX%%BaseAction extends AgaviAction
{

}
